h1 {
    color: #fff;
    font-size: 56px;
    font-family: "Circular Std";
    font-weight: 500;
    text-align: center;
    line-height: 70px;
    margin-bottom: 20px;

    @media (max-width: 992px) {
        font-size: 45px;
        line-height: 65px;

        br {
            display: none;
        }
    }

    @media (max-width: 768px) {
        font-size: 22px;
        line-height: 34px;
    }
}

p {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-family: "Circular Std Book";
    font-weight: 500;
    margin-bottom: 40px;

    @media (max-width: 768px) {
        text-align: center;
        margin: 0 auto 40px auto;
        line-height: 30px;
        font-size: 16px;
        width: 80%;
    }
}

.grupo-botoes {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    button {
        border: 2px solid #fff;
        border-radius: 50px;
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        padding: 8px 20px;

        @media (max-width: 768px) {
            font-size: 14px;
        }

        &:hover {
            background-color: #fff;
            color: #39588a;
            transition: all 200ms;
        }
    }
}

.texto-fogo {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;

    @media (max-width: 768px) {
        font-size: 17px;
    }
}

.redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    img {
        &:nth-child(1) {
            margin-right: 15px;
        }
    }
}

.seta-baixo {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;

    img {
        transform: rotate(90deg);
        margin-right: 13px;
    }
}
