<h1>Aumente suas vendas de bolões <br> com o XLOTO Player</h1>
<p>Deixe que o XLOTO Player ofereça seus bolões para os seus clientes que estão na fila</p>

<div class="grupo-botoes">
    <button mat-stroked-button [ngxScrollTo]="'#sessao3'">Conhecer XLOTO Player</button>
</div>

<p class="texto-fogo">Baixe o XLOTO Player agora mesmo 🔥</p>

<div class="redes-sociais">
    <a href="https://apps.apple.com/br/app/xloto/id1466708309" target="_blank">
        <img src="/assets/img/logo-apple-store.svg" alt="Logo da Apple">
    </a>
    <a href="https://play.google.com/store/apps/details?id=br.com.xloto.app&hl=pt-BR" target="_blank">
        <img src="/assets/img/logo-google-play-store.svg" alt="Logo de Android">
    </a>
</div>


<div class="seta-baixo">
    <img src="/assets/img/seta-branca-baixo.svg" alt="Seta branca apontada para baixo">
</div>