<div class="faq-page">

    <div class="container">
        <div class="row titulo">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>TIRE SUAS DÚVIDAS</h2>
                <h3>Perguntas frequentes</h3>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Se eu comprar e quiser desistir da compra posteriormente? 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Caso o grupo de 10 lotéricos não tenha fechado até a data final da promoção (31/12/21), a XLOTO devolverá o valor integral que você investiu. Caso você tenha optado pelo plano trimestral, semestral ou anual., você terá o valor devolvido integralmente em até 7 dias após sua solicitação.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Posso testar o sistema em compra coletiva? 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Nesse caso você deverá testar o sistema pagando o valor trimestral ou semestral. Após resolver participar do grupo venda coletiva, abateremos esse valor na assinatura anual.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Quais equipamentos preciso e como funciona o XLOTO player? 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Você precisa de um smartphone novo ou semi-novo de preferência Android. Irá precisar também de uma caixa de som com conexão blutoo. Para funcionar, você deve parear o blutoo da caixa com o blutoo do smartphone. Em seguida abrir o aplicativo e utilizar. Se necessário, acesse o menu lateral do app e navegue na opção "sobre o XLOTO player" para retirar suas dúvidas.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Tenho várias lotéricas, uma licença é suficiente? 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>No caso de ter várias lotéricas, você deverá adquirir uma licença para cada lotérica. O login é aceito apenas em 1 smartphone.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>

    
</div>