<div class="planos-pagina">
    <div class="container">
        <div class="row titulo">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>Planos</h2>
                <h3>Escolha um plano</h3>
                <p>O XLOTO Player possui mais de 100 vinhetas de jogos, bolões e informativos atualizados <br>
                    diariamente, onde você pode disparar para o seu cliente, mantendo ele informado o <br> tempo todo
                </p>
            </div>
        </div>

        <div class="row planos" *ngIf="planosVendas">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card" >
                    <h3>PLANO TRIMESTRAL</h3>

                    <h5><span>R$</span> {{ planosVendas[0].valor }}/<span>Mês</span></h5>

                    <p> <img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Atualização de jogos diários
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="O sistema atualiza diariamente o valor dos jogos acumulados e atualiza no app pela manhã.">
                            info
                        </span>
                    </p>
                    <p>
                        <img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Disparo automático
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Você programa a vinheta para tocar de tempo em tempo ( ex: a cadas 5 minutos)">
                            info
                        </span>
                    </p>
                    <p>
                        <img src="/assets/img/icon-checked-verde.svg" alt="" srcset="">Criamos sua vinheta
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Criamos a vinheta que você precisar e disponibilizamos em até 24 horas úteis">
                            info
                        </span>
                    </p>

                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Venda de publicidade
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Você pode vender publicidade do comércio local, aumentando a receita da lotérica">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Treinamento da equipe
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="O sistema a cada 15 dias envia vídeos com dicas de vendas e motivação pessoal">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Informativos relevantes
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Permite que você tenha vinhetas com assuntos relevantes, ex: covid, preciso de moedas...">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Lista favorita da
                        lotérica
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Permite que você tenha vinhetas com assuntos relevantes, ex: covid, preciso de moedas...">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Programação horário fixo
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Você programa uma vinheta para tocar automaticamente todo dia sempre no mesmo horário, ex: Encerrando o expediente, bom dia ...">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Disparo programado
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Permite você disparar a vinheta no momento exato, ou seja, na horá que achar necessário">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Notificação relâmpago
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Você poderá receber ofertas, promoções e avisos relevantes que seja de interesse da categoria.">
                            info
                        </span>
                    </p>
                    <br><br>
                    <button mat-raised-button (click)="comprar(1)">COMPRAR AGORA</button>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card" >
                    <h3>PLANO ANUAL</h3>

                    <h5><span>R$</span> {{ planosVendas[1].valor }}/<span>Mês</span></h5>

                    <div class="promocao">
                        <p>71% OFF COM <br> 10 AMIGOS</p>
                    </div>

                    <div class="experimente">
                        <a href="https://xloto.com.br/simulador-vendas">
                            <p>TENHA MAIS DESCONTO <br> COMPRANDO COM AMIGOS</p>
                            <span class="material-icons-outlined">
                                chevron_right
                            </span>
                        </a>
                    </div>

                    <p> <img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Atualização de jogos diários
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="O sistema atualiza diariamente o valor dos jogos acumulados e atualiza no app pela manhã.">
                            info
                        </span>
                    </p>
                    <p>
                        <img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Disparo automático
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Você programa a vinheta para tocar de tempo em tempo ( ex: a cadas 5 minutos)">
                            info
                        </span>
                    </p>
                    <p>
                        <img src="/assets/img/icon-checked-verde.svg" alt="" srcset="">Criamos sua vinheta
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Criamos a vinheta que você precisar e disponibilizamos em até 24 horas úteis">
                            info
                        </span>
                    </p>

                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Venda de publicidade
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Você pode vender publicidade do comércio local, aumentando a receita da lotérica">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Treinamento da equipe
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="O sistema a cada 15 dias envia vídeos com dicas de vendas e motivação pessoal">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Informativos relevantes
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Permite que você tenha vinhetas com assuntos relevantes, ex: covid, preciso de moedas...">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Lista favorita da
                        lotérica
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Permite que você tenha vinhetas com assuntos relevantes, ex: covid, preciso de moedas...">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Programação horário fixo
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Você programa uma vinheta para tocar automaticamente todo dia sempre no mesmo horário, ex: Encerrando o expediente, bom dia ...">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Disparo programado
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Permite você disparar a vinheta no momento exato, ou seja, na horá que achar necessário">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Notificação relâmpago
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Você poderá receber ofertas, promoções e avisos relevantes que seja de interesse da categoria.">
                            info
                        </span>
                    </p> <br><br>
                    <button mat-raised-button (click)="comprar(2)">COMPRAR AGORA</button>
                </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card" >
                    <h3>PLANO SEMESTRAL</h3>

                    <h5><span>R$</span> {{ planosVendas[2].valor }}/<span>Mês</span></h5>

                    <p> <img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Atualização de jogos diários
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="O sistema atualiza diariamente o valor dos jogos acumulados e atualiza no app pela manhã.">
                            info
                        </span>
                    </p>
                    <p>
                        <img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Disparo automático
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Você programa a vinheta para tocar de tempo em tempo ( ex: a cadas 5 minutos)">
                            info
                        </span>
                    </p>
                    <p>
                        <img src="/assets/img/icon-checked-verde.svg" alt="" srcset="">Criamos sua vinheta
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Criamos a vinheta que você precisar e disponibilizamos em até 24 horas úteis">
                            info
                        </span>
                    </p>

                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Venda de publicidade
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Você pode vender publicidade do comércio local, aumentando a receita da lotérica">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Treinamento da equipe
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="O sistema a cada 15 dias envia vídeos com dicas de vendas e motivação pessoal">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Informativos relevantes
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Permite que você tenha vinhetas com assuntos relevantes, ex: covid, preciso de moedas...">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Lista favorita da
                        lotérica
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Permite que você tenha vinhetas com assuntos relevantes, ex: covid, preciso de moedas...">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Programação horário fixo
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Você programa uma vinheta para tocar automaticamente todo dia sempre no mesmo horário, ex: Encerrando o expediente, bom dia ...">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Disparo programado
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Permite você disparar a vinheta no momento exato, ou seja, na horá que achar necessário">
                            info
                        </span>
                    </p>
                    <p><img src="/assets/img/icon-checked-verde.svg" alt="" srcset=""> Notificação relâmpago
                        <span class="material-icons-outlined cheked-tooltip"
                            matTooltip="Você poderá receber ofertas, promoções e avisos relevantes que seja de interesse da categoria.">
                            info
                        </span>
                    </p>
                    <br><br>
                    <button mat-raised-button (click)="comprar(3)">COMPRAR AGORA</button>
                </div>
            </div>
        </div>

        <div class="row desconto" [ngxScrollTo]="'#compraColetiva'">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>GANHE 71% DE DESCONTO FECHANDO COM AMIGOS 🔥</p>
            </div>
        </div>

        <div class="row arrow-down" [ngxScrollTo]="'#compraColetiva'">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-seta">
                <img src="/assets/img/seta-branca-baixo.svg" alt="">
            </div>
        </div>
    </div>
</div>