.depoimentos-pagina {
    padding-top: 80px;
    margin-bottom: 80px;

    .titulo {
        h2 {
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            color: #36b37e;
            letter-spacing: 2px;
            margin-bottom: 30px;
        }

        h3 {
            text-align: center;
            font-size: 36px;
            color: #183b56;
            margin-bottom: 30px;
            font-family: "Circular Std";
            font-weight: 600;

            @media (max-width: 768px) {
                font-size: 22px;
                line-height: 30px;
            }
        }

        p {
            font-family: "Circular Std";
            color: #5a7184;
            font-size: 18px;
            text-align: center;
            line-height: 25px;
            margin-bottom: 80px;

            @media (max-width: 768px) {
                font-size: 14px;
                padding: 0 15px;
            }
        }
    }

    .carousel-depoimentos {
        position: relative;

        .nav-carousel {
            position: absolute;
            z-index: 2;
            width: 100%;
            display: flex;
            justify-content: space-between;
            left: -15px;
            top: 90px;
            filter: contrast(0.1);

            @media (max-width: 992px) {
                top: 35%;
            }

            img {
                cursor: pointer;
                height: 20px;
                width: 20px;
                background-repeat: no-repeat;
                position: absolute;
                left: -30px;

                @media (max-width: 1000px) {
                    left: 0px;
                }

                &:nth-child(2) {
                    transform: rotate(-180deg);
                    right: -30px;
                    position: absolute;
                    left: auto;

                    @media (max-width: 1000px) {
                        right: 0px;
                    }
                }
            }
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #e5eaf4;
            border-radius: 20px;
            justify-content: space-around;
            padding: 0px;
            width: 90%;

            @media (max-width: 900px) {
                width: 100%;
            }

            .play-video {
                cursor: pointer;
                position: absolute;
                width: 60px;
                height: 40px;
                top: 60px;
                left: 107px;

                @media (max-width: 900px) {
                    top: 90px;
                    left: 164px;
                }

                @media (max-width: 768px) {
                    left: 145px;
                }
            }

            img {
                margin-bottom: 15px;
            }

            h3 {
                color: #183b56;
                font-size: 22px;
                margin-bottom: 10px;
                padding: 0 15px;
            }

            p {
                color: #5a7184;
                font-size: 18px;
                padding: 0 15px;
                margin-bottom: 10px;
                font-weight: 500;
            }

            button {
                border: none;
                background: #1565d8;
                margin: 0 15px 15px 15px;
                height: 50px;
                font-size: 18px;
                font-weight: bold;
                color: #fff;
                border-radius: 11px;
                padding: 0px 0px;
            }
        }
    }
}
