<div class="chamada-top">
  <div class="chamada-top__left">
    <h1>Sistema de gestão para lotéricas com + tempo e liberdade</h1>
    <p>
      Você controla sua lotérica a partir de R$ 180,00. Tenha treinamento,
      suporte e gratuidade na instalação
    </p>

    <div class="grupo-botoes">
      <a
        href="https://api.whatsapp.com/send?phone=5561999449985"
        target="_blank"
      >
        <button mat-stroked-button>
          <img src="/assets/img/whats.svg" alt="" srcset="" />
          Falar com um especialista
        </button>
      </a>
      <button mat-stroked-button [ngxScrollTo]="'#sessao3'">
        Conhecer XLOTO
      </button>
    </div>
  </div>

  <div class="chamada-top__right">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/le2dFuclFeY"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>

  <div class="chamada-top__mobile">
    <div class="grupo-botoes">
        <a href="https://api.whatsapp.com/send?phone=5561999449985" target="_blank">
          <button mat-stroked-button>
            <img src="/assets/img/whats.svg" alt="" srcset="" />
            Falar com um especialista
          </button>
        </a>
        <button mat-stroked-button [ngxScrollTo]="'#sessao3'">Conhecer XLOTO</button>
      </div>
  </div>
</div>

