.solucoes-pagina {
    background-color: #2f5d62;
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 150px;

    .titulo {
        display: flex;
        align-items: center;
        margin-bottom: 100px;

        &.reverse {
            @media (max-width: 992px) {
                flex-direction: column-reverse;
            }
        }

        .right {
            padding-left: 50px;

            @media (max-width: 992px) {
                padding-left: 0px;
            }
        }

        h2 {
            color: white;
            font-family: "Circular Std";
            font-size: 36px;
            margin-bottom: 20px;

            @media (max-width: 992px) {
                font-size: 24px;
                text-align: center;
                line-height: 32px;
            }
        }

        p {
            font-family: "Circular Std";
            font-size: 16px;
            color: #fff;
            line-height: 22px;
            width: 80%;

            @media (max-width: 992px) {
                font-size: 14px;
                margin-bottom: 20px;
                text-align: center;
                width: 100%;
            }
        }

        iframe {
            width: 100%;

            @media (max-width: 992px) {
                margin-bottom: 20px;
            }
        }
    }

    .titulo-beneficios {
        h2 {
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 2px;
            margin-bottom: 20px;
            text-align: center;
            width: 100%;
            font-family: "Circular Std";
            text-transform: uppercase;
            
        }

        h3 {
            color: #fff;
            font-size: 36px;
            margin-bottom: 20px;
            font-family: "Circular Std";
            text-align: center;
            width: 100%;

            @media (max-width: 992px) {
                font-size: 24px;
                text-align: center;
                line-height: 32px;
            }
        }

        p {
            color: #fff;
            font-size: 18px;
            text-align: center;
            font-family: "Circular Std";
            line-height: 28px;
            width: 100%;

            @media (max-width: 992px) {
                font-size: 14px;
            }
        }
    }
}
