<h1 mat-dialog-title>Veja quem já comprou ✔️</h1>
<div mat-dialog-content>

  <div class="modal-body">
    <div class="item">
      <div class="left">
        <h3>Lotérica Trevo da sorte</h3>
        <p>Marcos Antônio Ferreira</p>
      </div>
      <div class="right"><span>20/03/2021</span></div>
    </div>
    <div class="item">
      <div class="left">
        <h3>Loteria Praça do Bicalho</h3>
        <p>Gilson Fernando</p>
      </div>
      <div class="right"><span>18/02/1997</span></div>
    </div>
    <div class="item">
      <div class="left">
        <h3>Erik</h3>
        <p>erik@gmail.com</p>
      </div>
      <div class="right"><span>18/02/1997</span></div>
    </div>
  </div>
</div>

<button (click)="closeAll()">Fechar</button>