<div class="solucoes-pagina">
    <div class="container">
        <div class="row titulo">
            <img src="/assets/img/bonus.svg" alt="" srcset="">
            <h2>Comprando agora, você <br> garante bônus exclusivos 🎁</h2>
        </div>

        <div class="row">
            <div class="groupItem">
                <div class="box" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <div class="header"><span class="number"><img src="/assets/img/icon-checked-verde.svg" alt=""
                                srcset=""></span>
                        <h3>Desconto no sistema de gestão</h3>
                    </div>
                    <div class="body">
                        <p>Ganhe 15% no sistema de gestão da <br> XLOTO,
                            assinando o plano anual</p>
                    </div>
                </div>
                <div class="box" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <div class="header"><span class="number"><img src="/assets/img/icon-checked-verde.svg" alt=""
                                srcset=""></span>
                        <h3>Ebook grátis</h3>
                    </div>
                    <div class="body">
                        <p>Ganhe um Ebook de como vender mais <br> em pouco
                            tempo </p>
                    </div>
                </div>
            </div>

            <div class="groupItem">
                <div class="box" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <div class="header"><span class="number"><img src="/assets/img/icon-checked-verde.svg" alt=""
                                srcset=""></span>
                        <h3>Ganhe 5 vinhetas</h3>
                    </div>
                    <div class="body">
                        <p>Produzimos 5 vinhetas sem nenhum <br>
                            custo para você</p>
                    </div>
                </div>
                <div class="box" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <div class="header"><span class="number"><img src="/assets/img/icon-checked-verde.svg" alt=""
                                srcset=""></span>
                        <h3>Desconto de 50%</h3>
                    </div>
                    <div class="body">
                        <p>Liberamos o desconto de 50% para 15 <br>
                            vinhetas, caso você precise</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>