.garantia {
    background-color: #00112a;
    height: 35px;
    border-top: 4px solid #fdca7d;
    border-bottom: 4px solid #fdca7d;

    .end {
        display: flex;
        justify-content: flex-end;
    }

    p {
        color: #fff;
        font-size: 16px;
        margin-top: 10px;
    }

    @media (max-width: 992px) {
        display: none;
    }

    .selo {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 2;


        img {
            margin-top: -65px;
        }
    }
}
