<div class="faq-page">

    <div class="container">
        <div class="row titulo">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>TIRE SUAS DÚVIDAS</h2>
                <h3>Perguntas frequentes</h3>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                1- Se eu adquirir o sistema e decidir cancelar o contrato, haverá alguma multa? 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Não. Ao adquirir nosso sistema, você terá a liberdade de rescindir o contrato a qualquer momento, sem a aplicação de multas ou penalidades. Nosso objetivo é garantir a sua satisfação e flexibilidade em relação aos nossos serviços.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                2- Quais são os custos envolvidos para adquirir e implementar o sistema em minha lotérica ? 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Você pagará apenas uma mensalidade fixa (sob consulta). Não há taxas de instalação, não há custos adicionais para o setup inicial, não há custos para treinamento de colaboradores, mesmo para novos colaboradores futuramente.
                            Sobre o valor, vai depender do que você realmente precisa. Montaremos um plano de acordo com a sua necessidade, partindo do valor R$ 180,00 mensal.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                3- O sistema é fácil de operar? Qual é a duração do treinamento ? 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>O sistema é muito simples de operar, tendo como destaque a facilidade de entendimento. Em apenas 3 horas de treinamento, divididas ao longo de 4 dias, você e sua equipe serão capazes de operar o sistema em sua plenitude.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                4- Consigo controlar a lotérica de qualquer lugar?  
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Sim. Nosso sistema é 100% online, possibilitando você controlar sua lotérica de qualquer lugar do mundo. Basta possuir uma conexão com internet, um computador ou smartphone.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>

    
</div>


