<div class="modal-beneficios">
  <h3>8 benefícios <strong>para sua Lotérica</strong></h3>

  <mat-dialog-content class="mat-typography">
    <div class="content">
      <div class="left">
        <div class="item">
          <h4><span>01.</span> Implantação do sistema</h4>
          <p>
            Não cobramos pela implantação, é gratuita, você paga somente a
            mensalidade.
          </p>
        </div>

        <div class="item">
          <h4><span>02.</span> Não possui fidelidade</h4>
          <p>Quando você quiser sair da plataforma você não paga multas.</p>
        </div>

        <div class="item">
          <h4><span>03.</span> Aplicativo Mobile na Apple e Google play</h4>
          <p>Única plataforma no mercado com app na apple e Google play.</p>
        </div>

        <div class="item">
          <h4><span>04.</span> Suporte técnico</h4>
          <p>
            Você terá suporte técnico em horário comercial, por whatsapp, e-mail
            e telefone.
          </p>
        </div>
      </div>

      <div class="right">
        <div class="item">
          <h4><span>05.</span> Analisamos todo seu processo periodicamente</h4>
          <p>
            A cada 6 meses, analisamos o seu processo em conjunto com você,
            verificamos se está lançado tudo certinho no sistema.
          </p>
        </div>

        <div class="item">
          <h4><span>06.</span> Treinamento do pessoal</h4>
          <p>
            Treinamos sua equipe por tempo indeterminado, sem nenhum custo
            adicional.
          </p>
        </div>

        <div class="item">
          <h4>
            <span>07.</span> Novas funcionalidades e atualização no sistema
          </h4>
          <p>
            Você não paga por novas funcionalidades, não paga por atualizações,
            não paga por manutenções, é tudo por nossa conta.
          </p>
        </div>

        <div class="item">
          <h4><span>08.</span> Desconto em caso de fechamento anual</h4>
          <p>Oferecemos descontos em caso de fechamento anual.</p>
        </div>
      </div>
    </div>

    <div class="btn-action">
      <button
        mat-raised-button
        color="primary"
        [mat-dialog-close]="true"
        cdkFocusInitial
      >
        Fechar
      </button>
    </div>
  </mat-dialog-content>
</div>
