<div class="solucoes-pagina">
    <div class="container">
        <div class="row titulo">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h2>Sistema de gestão <br> para seu computador</h2>
                <p>O XLOTO gestão é um sistema de gestão para casas lotéricas totalmente online, prático e  de fácil entendimento.</p>
                <p>Você controla sua lotérica com rapidez, pois o XLOTO gestão disponibiliza informações rápidas, seguras e em tempo real, garantindo uma gestão com comodidade também pelo app da XLOTO.</p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <iframe _ngcontent-ekn-c20="" width="560" height="315"
                    src="https://www.youtube.com/embed/le2dFuclFeY?start=60" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen=""></iframe>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row titulo reverse">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Fo91JPfGTGo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
                <h2>Sistema de gestão para <br> seu Smartphone</h2>
                <p>O XLOTO mobile é o aplicativo do XLOTO gestão que traz as informações já prontas para análises. Você terá na palma da sua mão o desempenho, médias, comparação dos setores, faturamento, controle da sua conta 043 entre outras diversas funcionalidades, tudo prontinho para você analisar e ter uma gestão de qualidade.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titulo-beneficios">
            <h2>BENEFÍCIOS</h2>
            <h3>Porque você deve ter o XLOTO Gestão</h3>
            <p>Ele possui mais de 26 análises gerenciais como: metas, desempenho da equipe, controle de fiados, controle da conta 043 entre outras funcionalidades.</p>
        </div>
    </div>
</div>