<!-- HEADER -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <app-navbar></app-navbar>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <app-chamada id="sessao1"></app-chamada>
            </div>
        </div>
    </div>
</div>

<!-- DIFICULDADES -->
<app-dificuldades></app-dificuldades>
<!-- SOLUCOES -->
<app-solucoes id="sessao3"></app-solucoes>
<!-- BENEFICIOS -->
<app-beneficios></app-beneficios>
<!-- DEPOIMENTOS -->
<app-depoimentos></app-depoimentos>
<!-- PLANOS -->
<app-planos id="sessao4"></app-planos>
<!-- COMPRA COLETIVA -->
<app-compra-coletiva></app-compra-coletiva>
<!-- BONUS -->
<app-bonus></app-bonus>
<!-- GARANTIA -->
<app-garantia></app-garantia>
<!-- COMO FUNCIONA -->
<app-como-funciona></app-como-funciona>
<!-- FAQ -->
<app-faq id="sessao6"></app-faq>
<!-- CADASTRO -->
<app-cadastro id="sessao2"></app-cadastro>
<!-- XLOTO -->
<app-xloto></app-xloto>
<!-- FOOTER -->
<app-footer></app-footer>