<div class="xlotoPage">
    <div class="container">
        <div class="col-md-12">
            <h3> Outras soluções da <br> XLOTO </h3>
            <p>Se você é lotérico e possui dificuldades com a sua gestão da sua casa lotérica, podemos  te ajudar! </p>
            <p>Conheça nossos serviços de auditoria diária,consultoria de processos e levantamento de débitos da lotérica junto a Caixa Econômica Federal. </p>
            <div class="group-buttons">
                <a href="https://calendly.com/xloto/60min?month=2021-05" target="_blank">
                    <button class="btn">Agendar apresentação</button>
                </a>
                <a href="https://xloto.com.br/nossos-servicos" target="_blank">
                    <button class="btn blue">Conhecer outros serviços da XLOTO</button>
                </a>
            </div>
        </div>
    </div>
</div>