.legenda {
    height: 200px;
}

h2 {
    font-size: 28px;
    font-family: "Circular Std";
    margin-bottom: 40px;
}

mat-form-field {
    margin-right: 10px;
}

.item-planos {
    display: flex;
    align-items: center;

    button {
        height: 57px;
        margin-bottom: 20px;
        margin-right: 10px;
    }
}

table {
    margin-bottom: 80px;
    width: 100%;
}

thead th {
    text-align: left;
    padding: 30px;
    font-weight: bold;
    border: 1px solid #c1b7b7;
    background-color: #e8e2e2;
}

tbody td {
    padding: 30px;
    text-align: left;
    border: 1px solid #c1b7b7;
}

tbody tr:nth-child(odd) {
 
    background-color: #3f51b5;
    color: #fff;

}
