<div class="beneficios-page">
  <div class="box-completo">
    <div class="container">
      <div class="row">
        <div class="card">
          <div class="header">
            <div class="left">
              <h2>
                Plano <br />
                Completo
              </h2>
            </div>

            <div class="right">
              <!-- <a
                href="https://www.youtube.com/watch?v=jtWwTnVM7CE"
                target="_blank"
              >
                <h3>
                  Conheça o sistema <br />
                  detalhadamente
                </h3>
                <img src="/assets/img/youtube-log.svg" alt="" srcset="" />
              </a> -->
            </div>
          </div>

          <div class="body">
            <div class="left">
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Controle da conta 043 / 003
                <span
                  class="material-icons-outlined"
                  matTooltip="Permite fazer anotações de itens relevantes e tratá-los, por meio de relatório de pendências e pendências resolvidas"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Conciliação bancária
                <span
                  class="material-icons-outlined"
                  matTooltip="Permite saber se os créditos e débitos lançados nas contas 003/043 pela CEF estão corretos"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />Alerta de declínio financeiro
                <span
                  class="material-icons-outlined"
                  matTooltip="Você acompanha rapidamente qual setor da lotérica está em declínio financeiro"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Controle de sangrias e retiradas
                <span
                  class="material-icons-outlined"
                  matTooltip="Possibilita controlar todas as sangrias em espécie que saíram dos caixa dos atendentes, podendo filtrá- las por diversas formas"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />

                Controle de cartão de crédito
                <span
                  class="material-icons-outlined"
                  matTooltip="Possibilita controlar todas as vendas de cartões de créditos que saíram dos caixas dos atendentes, podendo comentar e efetuar baixas"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Controle de cartão de débito
                <span
                  class="material-icons-outlined"
                  matTooltip="Possibilita controlar todas as vendas de cartões de débitos que saíram dos caixas dos atendentes, podendo comentar e efetuar baixas"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />Controle de pix e cheques
                <span
                  class="material-icons-outlined"
                  matTooltip="Possibilita controlar todos os pix e cheques que saíram dos caixas dos atendentes, podendo comentar em notas e efetuar baixas"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Controle de resgate de tele sena
                <span
                  class="material-icons-outlined"
                  matTooltip="Possibilita controlar todas as vendas de cartões de débitos que saíram dos caixas dos atendentes, podendo comentar e efetuar baixas"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Controle de retaguarda
                <span
                  class="material-icons-outlined"
                  matTooltip="Permite controlar o estoque de moedas, cédulas e produtos que são enviado para os caixas"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Controle de fiados de clientes
                <span
                  class="material-icons-outlined"
                  matTooltip="Permite controlar fiados realizados por clientes, gerando relatório por período e situação pago e não pago."
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Controle de envio de malotes
                <span
                  class="material-icons-outlined"
                  matTooltip="Possibilita saber todos os valores enviados para CEF, sendo de forma total e por atendente"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Controle de envio de malotes
                <span
                  class="material-icons-outlined"
                  matTooltip="Possibilita saber todos os valores enviados para CEF, sendo de forma total e por atendente"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Relatório detalhado do caixa
                <span
                  class="material-icons-outlined"
                  matTooltip="Permite visualizar todo fluxo dos caixas com diversas visões, inclusive por busca de período selecionado"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Extrato de comissão a retirar
                <span
                  class="material-icons-outlined"
                  matTooltip="Possibilita visualizar todas as comissões de jogos, bolões e decêndios e despesas em uma única tela em formato de extrato bancário."
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Gráficos de receitas / despesas
                <span
                  class="material-icons-outlined"
                  matTooltip="Permite visualizar todas as receitas e despesas em formato de gráfico, podendo visualizar as receitas e despesas por meio de setores."
                >
                  info
                </span>
              </p>
            </div>

            <div class="left">
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Graficos de jogos e bolões
                <span
                  class="material-icons-outlined"
                  matTooltip="Permite visualizar todos os jogos e bolões em formato de gráfico, podendo visualizar por modalidade de jogos."
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Painel do administrador
                <span
                  class="material-icons-outlined"
                  matTooltip="Tela inicial do sistema, com informações relevantes de todos os setores, por meio de valores e gráficos"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Análise anual dos resultados
                <span
                  class="material-icons-outlined"
                  matTooltip="Visão anual de todos os setores da lotérica com informações em gráficos e valores em tela única"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Controle de despesas
                <span
                  class="material-icons-outlined"
                  matTooltip="Despesas organizadas por categoria e descrição com porcentagem representativa de cada despesa"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Controle de produtos
                <span
                  class="material-icons-outlined"
                  matTooltip="Produtos organizados por categoria e descrição com porcentagem representativa de cada produto"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Controle de serviços
                <span
                  class="material-icons-outlined"
                  matTooltip="Serviços organizados por categoria e descrição com porcentagem representativa de cada serviço"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Controle de autenticações
                <span
                  class="material-icons-outlined"
                  matTooltip="Analisa a relação entre jogos e serviços bancários, com indicativos por gráficos,  porcentagem e comparação"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Média mensal dos setores
                <span
                  class="material-icons-outlined"
                  matTooltip="Permite saber a média mensal de jogos, bolões e decêndios, mostrando ano corrente com ano passado"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Metas da lotérica
                <span
                  class="material-icons-outlined"
                  matTooltip="Crie meta para bolões, jogos, decêndios e autenticação para sua lotérica"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Metas para colaboradores
                <span
                  class="material-icons-outlined"
                  matTooltip="Crie metas de bolões, jogos, decêndios e autenticação para seus colaboradores"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />Produção dos atendentes
                <span
                  class="material-icons-outlined"
                  matTooltip="Análise colaboradores em todos os setores da lotérica por meio de gráficos, porcentagem e valores"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Controle de comissões
                <span
                  class="material-icons-outlined"
                  matTooltip="Controle de decêndios, jogos, bolões, produtos e serviços, por meio de gráficos, porcentagem e comparações"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Agenda de compromissos
                <span
                  class="material-icons-outlined"
                  matTooltip="Agende compromissos, tarefas ou a fazeres, com recorrência de 3 níveis de agendamento"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Relatório consolidado
                <span
                  class="material-icons-outlined"
                  matTooltip="Relatório impresso simplificado, de fácil entendimento de todos os setores da lotérica"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Controle de decêndios
                <span
                  class="material-icons-outlined"
                  matTooltip="Todos os relatórios de decêndio em tela única, de forma organizada, permitindo comparações entre períodos"
                >
                  info
                </span>
              </p>
            </div>

            <div class="right">
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />Alerta de declínio financeiro
                <span
                  class="material-icons-outlined"
                  matTooltip="Você acompanha rapidamente qual setor da lotérica está em declínio financeiro"
                >
                  info
                </span>
              </p>

              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Comparação dos setores
                <span
                  class="material-icons-outlined"
                  matTooltip="Compare jogos, bolões, decêndios, comparando ano atual com ano anterior ou período desejado"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />

                Análise financeira
                <span
                  class="material-icons-outlined"
                  matTooltip="Receitas e despesas detalhadas em tela única, com indicador de impacto, gráficos e valores"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Relatório consolidado
                <span
                  class="material-icons-outlined"
                  matTooltip="Relatório impresso simplificado, de fácil entendimento de todos os setores da lotérica"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Controle de acesso
                <span
                  class="material-icons-outlined"
                  matTooltip="Permite compartilhar trabalho com pessoas que não trabalham na lotérica, mediante aprovação do lotérico"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Perfil de acesso/ usuários
                <span
                  class="material-icons-outlined"
                  matTooltip="O colaborador só visualiza, altera e exclui informações que o lotérico permitir"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Controle de decêndios
                <span
                  class="material-icons-outlined"
                  matTooltip="Todos os relatórios de decêndio em tela única, de forma organizada, permitindo comparações entre períodos"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Agenda de compromissos
                <span
                  class="material-icons-outlined"
                  matTooltip="Agende compromissos, tarefas ou a fazeres, com recorrência de 3 níveis de agendamento"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Envio de mensagens lotérica
                <span
                  class="material-icons-outlined"
                  matTooltip="Comunicação entre colaboradores, gestores e XLOTO, com caixa de entrada e caixa de saída"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Registro de ocorrências
                <span
                  class="material-icons-outlined"
                  matTooltip="Possibilita registrar fatos relevantes ocorridos no interior da lotérica, chamados, folgas, atestados."
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Cadastro cliente potencial
                <span
                  class="material-icons-outlined"
                  matTooltip="Permite registrar clientes relacionando com tipo de serviço e valor que gasta na lotérica"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                Últimos lançamentos
                <span
                  class="material-icons-outlined"
                  matTooltip="Permite ver os lançamentos relevantes mais recentes na tela inicial do sistema"
                >
                  info
                </span>
              </p>
              <p>
                <img
                  src="/assets/img/icon-checked-verde.svg"
                  alt=""
                  srcset=""
                />
                + outras funcionalidade
                <span
                  class="material-icons-outlined"
                  matTooltip="Possui várias outras funcionalidades por meio de diversas visões"
                >
                  info
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="group-button">
            <a href="https://api.whatsapp.com/send?phone=5561996754537" target="_blank">
                <button mat-stroked-button>
                  <img src="/assets/img/whats.svg" alt="" srcset="" />
                  Falar com um especialista
                </button>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
