<div class="xlotoPage">
    <div class="container">
        <div class="col-md-12">
            <h3> Outras soluções da <br> XLOTO </h3>
            <p>XLOTO Player - é um app que emite mais de 100 vinhetas de jogos, bolões e
                informações relevantes atualizadas diariamente. Automaticamente a cada 5 minutos ou no intervalo que
                necessitar, o app emite vinhetas valiosas, onde seu cliente na fila, ao ouvir a vinheta do XLOTO Player
                se sinta estimulado a comprar. Com isso mais vendas para você e sua equipe!</p>
            <div class="group-buttons">
                <a href="https://xloto.com.br/gestao" target="_blank">
                    <button class="btn">Quero conhecer o
                        sistema de gestão</button>
                </a>
                <a href="https://xloto.com.br" target="_blank">
                    <button class="btn">Conhecer mais a XLOTO</button>
                </a>
            </div>
            <div class="group-buttons">
                <a href="https://api.whatsapp.com/send?phone=5561999449985" target="_blank">
                    <button class="btn blue">
                        <img src="/assets/img/whats.svg" alt="" srcset="">
                        Falar com um especialista</button>
                </a>
            </div>
        </div>
    </div>
</div>