<div class="faq-page">

    <div class="container">
        <div class="row titulo">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>TIRE SUAS DÚVIDAS</h2>
                <h3>Perguntas frequentes</h3>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Se eu comprar e quiser desistir da compra posteriormente? 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Caso o grupo de 10 lotéricos não tenha fechado até a data final da promoção (31/12/21), a XLOTO devolverá o valor integral que você investiu. Caso você tenha optado pelo plano trimestral, semestral ou anual., você terá o valor devolvido integralmente em até 7 dias após sua solicitação.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
<!-- 
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Posso testar o sistema em compra coletiva? 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Nesse caso você deverá testar o sistema pagando o valor trimestral ou semestral. Após resolver participar do grupo venda coletiva, abateremos esse valor na assinatura anual.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div> -->

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Como funciona o plano customizado
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Montamos um plano mais acessível para você com menos funcionalidades de acordo com os pacotes oferecidos pela XLOTO, caso a versão completa não esteja dentro do seu orçamento. Para isso você deve assistir o vídeo de apresentação detalhada do plano completo para conhecer todas as funcionalidades e posteriormente entrar em contato com a XLOTO pelo WhatsApp 61-9944-9985.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Qual a diferença do XLOTO gestão para XLOTO mobile?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>O XLOTO gestão é o sistema principal, totalmente online e que deve ser operado por meio de um computador de mesa (PC) geralmente na lotérica ou em casa. O XLOTO mobile é o app que traz uma visão gerencial para o proprietário em seu android ou Iphone, com informações vindas do XLOTO gestão, ou seja, do sistema principal.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>

    
</div>