<div class="beneficios-page">
    <div class="container">
        <div class="row img-dashboard">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img src="/assets/img/dashboard-gestao.svg" alt="Imagem de um Dashboard" srcset="">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="item"><span>1</span>
                    <h3>Fechamento de caixas</h3>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="item"><span>2</span>
                    <h3>Controle da conta 043 / 003</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-xs-12 col-md-6">
                <div class="item"><span>3</span>
                    <h3>Controle sangrias e fiados</h3>
                </div>
            </div>
            <div class=" col-xs-12 col-md-6">
                <div class="item"><span>4</span>
                    <h3>Controle de despesas e produtos</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="item"><span>5</span>
                    <h3>Diferença de caixas</h3>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="item"><span>6</span>
                    <h3>Comparação entre setores / médias</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="item"><span>7</span>
                    <h3>Alerta de declínio financeiro</h3>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="item"><span>8</span>
                    <h3>Desempenho dos colaboradores</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="item"><span>9</span>
                    <h3>Controle jogos, bolões e decêndio</h3>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="item"><span>10</span>
                    <h3>Meta da lotérica e colaboradores</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="item"><span>11</span>
                    <h3>Alerta de declínio financeiros</h3>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="item"><span>12</span>
                    <h3>+ 16 funcionalidades </h3>
                </div>
            </div>
        </div>
    </div>
</div>