<div class="depoimentos-pagina">
  <div class="container">
    <div class="row titulo">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Depoimentos</h2>
        <h3>O que os lotéricos falam sobre o XLOTO Gestão</h3>
        <p>
          Veja o que vários lotéricos por todo Brasil falam sobre o XLOTO gestão
          em suas lotéricas. <br />
          experiências positivas que contribuíram para um melhor controle e
          produtividade.
        </p>
      </div>
    </div>

    <div class="row carousel-depoimentos">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="nav-carousel">
          <img
            src="/assets/img/seta-carousel.svg"
            alt=""
            (click)="owlCar.prev()"
          />
          <img
            src="/assets/img/seta-carousel.svg"
            alt=""
            (click)="owlCar.next()"
          />
        </div>

        <owl-carousel-o [options]="customOptions" #owlCar>
          <ng-container *ngFor="let slide of slidesStore">
            <ng-template carouselSlide [id]="slide.id">
              <div class="card">
                <img
                  _ngcontent-ver-c21=""
                  src="/assets/img/play-button_white.svg"
                  data-toggle="modal"
                  alt=""
                  class="play-video"
                  (click)="openDialog()"
                />

                <img
                  _ngcontent-ver-c21=""
                  src="/assets/img/depoimento-img.svg"
                  alt="First slide"
                  class="d-block w-100"
                />

                <h3>{{ slide.name }}</h3>
                <p>{{ slide.loterica }}</p>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="openDialog(slide)"
                >
                  Assistir video
                </button>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>

    <div class="row promocao" *ngIf="dataPromocao">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Queremos te ajudar! Agora depende só de você!!</h4>

        <div class="group-button">
          <a href="https://api.whatsapp.com/send?phone=5561999449985" target="_blank">
              <button mat-stroked-button>
                <img src="/assets/img/whats.svg" alt="" srcset="" />
                Falar com um especialista
              </button>
          </a>
        </div>

        <div class="shared">
          <p>Compartilhe com seus amigos! Limite máximo de 10 lotéricos. </p>
          <ul>
              <li>
                  <a href="https://api.whatsapp.com/send?text=https://xloto.com.br/servico-tres"
                      data-action="share/whatsapp/share" target="_blank">
                      <img src="/assets/img/whats.svg" alt="">
                  </a>
              </li>
              <li>
                  <a (click)="fb($event)">
                      <img src="/assets/img/facebook.svg" alt="" srcset="">
                  </a>
              </li>
              <li>
                  <a href="https://t.me/share/url?url=https://xloto.com.br/servico-tres&amp;text=https://xloto.com.br/servico-tres"
                      target="_blank">
                      <img src="/assets/img/telegram.svg" alt="" srcset="">
                  </a>
              </li>
              <li>
                  <a [cdkCopyToClipboard]="instagramValue" (click)="copyInstagram()">
                      <img src="/assets/img/instagram.svg" alt="" srcset="">
                  </a>
              </li>
          </ul>
      </div>
      </div>
    </div>
  </div>
</div>
