<mat-toolbar>
    <button mat-icon-button class="example-icon menu-hamburger" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>

    <div class="logo">
        <img src="/assets/img/logo-redondo-xloto.svg" alt="Logo Xloto">
    </div>

    <div class="menu">
        <ul>
            <li [ngxScrollTo]="'#sessao1'">Início</li>
            <li [ngxScrollTo]="'#sessao2'">Quem somos</li>
            <li [ngxScrollTo]="'#sessao6'">Perguntas</li>
            <li [ngxScrollTo]="'#sessao3'">Conhecer</li>
            <!-- <li [ngxScrollTo]="'#sessao4'">Soluções</li> -->
            <li [ngxScrollTo]="'#sessao5'">
                <button mat-stroked-button>Contato</button>
            </li>
        </ul>
    </div>
</mat-toolbar>


<!-- MENU MOBILE -->
<mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item [ngxScrollTo]="'#sessao1'">
        <span>Início</span>
    </button>
    <button mat-menu-item [ngxScrollTo]="'#sessao2'">
        <span>Quem somos</span>
    </button>
    <button mat-menu-item [ngxScrollTo]="'#sessao3'">
        <span>Conhecer</span>
    </button>
    <!-- <button mat-menu-item [ngxScrollTo]="'#sessao4'">
        <span>Soluções</span>
    </button> -->
    <button mat-menu-item [ngxScrollTo]="'#sessao5'">
        <span>Contato</span>
    </button>
</mat-menu>