<div class="como-funciona-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title">
        <h2>Como funciona a sua garantia de satisfação?</h2>
        <p>
          Você realiza a compra e poderá testar o sistema por 30 dias com
          garantia de arrependimento. <br />
          Caso veja que não faz sentido para sua realidade, devolvemos o valor
          que você investiu.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="group-button">
          <a
            href="https://api.whatsapp.com/send?phone=5561999449985"
            target="_blank"
          >
            <button mat-stroked-button>
              <img src="/assets/img/whats.svg" alt="" srcset="" />
              Falar com um especialista
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
