
<mat-dialog-content>
    <div class="modal-termos" mat-dialog-content>
        <div class="modal-header">
            <h5 id="exampleModalLabel" class="modal-title">Regras da compra coletiva 📑</h5>
        </div>
    
        <div class="modal-body">
            <h6>1. Período de duração da campanha</h6>
            <p> A promoção da venda por compra coletiva terá duração do dia 01/10/2021 a 31/12/2021.
            </p>
            <h6>2. Devolução dos valores por não fechamento do grupo</h6>
            <p> O valor será devolvido em até 7 dias após o encerramento da promoção, caso não tenha
                completado o grupo de 10 lotéricos interessados na proposta. Se a compra for realizada por cartão de
                crédito, será descontado o valor da tarifa da operadora. Se for por boleto o valor será devolvido
                integralmente. </p>
            <h6>3. Treinamento inicial do sistema</h6>
            <p> A XLOTO irá treinar sua equipe e você seguindo a ordem de pagamento, ou seja, quem
                realizou o pagamento primeiro será treinado primeiro e assim sucessivamente e por agendamento. </p>
            <h6> 4. Bonus de 6 meses de gratuidade </h6>
            <p>Após o fechamento do grupo, os 10 participantes concorrerão a 6 meses de gratuidade, ou
                seja, 50% do valor que você investiu. Nós iremos devolver para você. O sorteio será pelo loteria federal e o
                seu número será o código da sua lotérica. A data do sorteio será divulgado pela XLOTO a todos os
                participantes.</p>
            <h6>5. Devolução dos valores após fechar o grupo</h6>
            <p>Não será devolvido nenhum valor investido após o fechamento do grupo, por se tratar de
                um alto desconto repassado para o grupo. O que poderá ser realizado é a inclusão de um novo lotérico no
                lugar do que quer sair, ou seja, quem quiser sair pode transferir seu direito de uso para um lotérico fora
                do grupo.</p>
        </div>
    
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close (click)="closeAll()">Fechar</button>
        </mat-dialog-actions>
    </div>    
</mat-dialog-content>

