<div class="xlotoPage">
    <div class="container">
        <div class="col-md-12">
            <h3> Outras soluções da <br> XLOTO </h3>
            <p>XLOTO Player - é um app que emite mais de 100 vinhetas de jogos, bolões e
                informações relevantes atualizadas diariamente. Automaticamente a cada 5 minutos ou no intervalo que
                necessitar, o app emite vinhetas valiosas, onde seu cliente na fila, ao ouvir a vinheta do XLOTO Player
                se sinta estimulado a comprar. Com isso mais vendas para você e sua equipe!</p>
            <div class="group-buttons">
                <a href="https://calendly.com/xloto/60min?month=2021-05" target="_blank">
                    <button class="btn">Agendar apresentação</button>
                </a>
                <a href="https://xloto.com.br" target="_blank">
                    <button class="btn blue">Conhecer mais a XLOTO</button>
                </a>
            </div>
        </div>
    </div>
</div>