<div class="footerPage">
    <div class="container">
        <div class="footer">
            <a href="#" class="logo">
                <img src="/assets/img/logo-xloto.png" alt="" srcset="">
            </a>
            <ul>
                <li class="nav-item active" ng-reflect-ngx-scroll-to="place1"><a class="nav-link" [ngxScrollTo]="'#sessao1'">Início</a></li>
                <li class="nav-item" ng-reflect-ngx-scroll-to="place6"><a class="nav-link" [ngxScrollTo]="'#sessao2'">Quem Somos</a></li>
                <li class="nav-item" ng-reflect-ngx-scroll-to="place3"><a class="nav-link" [ngxScrollTo]="'#sessao6'">Perguntas</a></li>
                <li class="nav-item" ng-reflect-ngx-scroll-to="place5"><a class="nav-link" [ngxScrollTo]="'#sessao4'">Conhecer</a></li>
                <li class="nav-item" ng-reflect-ngx-scroll-to="place7"><a class="nav-link" [ngxScrollTo]="'#sessao3'">Soluções</a></li>
            </ul>
            <div class="group">
                <a href="https://apps.apple.com/br/app/xloto/id1466708309" target="_blank">
                    <img src="/assets/img/logo-apple-store.svg" alt="Logo da Apple">
                </a>
                <a href="https://play.google.com/store/apps/details?id=br.com.xloto.app&hl=pt-BR" target="_blank">
                    <img src="/assets/img/logo-google-play-store.svg" alt="Logo de Android">
                </a>
            </div>
        </div>
        <div class="corp">© 2021 XLOTO. Desenvlvido por XLOTO</div>
    </div>
</div>