<div class="dificuldades-pagina">
    <div class="container">
        <div class="row titulo">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>O PROBLEMA</h2>
                <h3>Dificuldades de fazer a gestão da sua lotérica?</h3>
                <p>Você possui essas dificuldades com sua lotérica?</p>
            </div>
        </div>

        <div class="row lista-dificuldades">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 left" >
                <img data-aos="fade-right" data-aos-easing="linear"
                data-aos-duration="1000" src="/assets/img/bg-gestao-dificuldades.svg" alt="Imagem de um rapaz pegando na cabeça">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
                <ul>
                    <li data-aos="fade-left" data-aos-easing="linear"
                    data-aos-duration="100">
                        <img src="/assets/img/icon-gestao-check.svg" alt="Icone de Check">
                        Você não consegue controlar sua conta 043?
                    </li>
                    <li data-aos="fade-left" data-aos-easing="linear"
                    data-aos-duration="150">
                        <img src="/assets/img/icon-gestao-check.svg" alt="Icone de Check">
                        Se sente preso dentro da lotérica o tempo todo?
                    </li>
                    <li data-aos="fade-left" data-aos-easing="linear"
                    data-aos-duration="200">
                        <img src="/assets/img/icon-gestao-check.svg" alt="Icone de Check">
                        Seus resultados são demorados e não são precisos?
                    </li>
                    <li data-aos="fade-left" data-aos-easing="linear"
                    data-aos-duration="250">
                        <img src="/assets/img/icon-gestao-check.svg" alt="Icone de Check">
                        Não consegue controlar a lotérica a distância?
                    </li>
                    <li data-aos="fade-left" data-aos-easing="linear"
                    data-aos-duration="300">
                        <img src="/assets/img/icon-gestao-check.svg" alt="Icone de Check">
                        Não sabe se os débitos e créditos na 043 estão corretos?
                    </li>
                    <li data-aos="fade-left" data-aos-easing="linear"
                    data-aos-duration="350">
                        <img src="/assets/img/icon-gestao-check.svg" alt="Icone de Check">
                        Você sente a gestão da sua lotérica confusa e arcaica?
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>