<div class="como-funciona-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title">
                <h2>Como funciona a venda coletiva ?</h2>
                <p>Você chama os seus amigos para participar da promoção. A cada 10 amigos que
                    fecharem <br> o plano anual, todos do grupo terão um desconto de 45%, pagando
                    apenas R$ 99,00 por mês</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 box">
                <h2>1 <span class="line"></span></h2>
                <h4>Você faz a compra</h4>
                <p>Você realiza a compra por boleto bancário ou cartão de crédito, podendo
                    parcelar em até 12 x sem juros</p>
            </div>
            <div class="col-md-3 box">
                <h2>2 <span class="line"></span></h2>
                <h4>Compartilha com amigos</h4>
                <p>Você compartilha com os seus amigos para que eles também comprem e o grupo se
                    feche antes da data final da promoção.</p>
            </div>
            <div class="col-md-3 box">
                <h2>3 <span class="line"></span></h2>
                <h4>Liberação do sistema</h4>
                <p>Ao fechar o grupo de 10 amigos, o acesso é liberado para todos durante 1 ano,
                    no qual você terá acesso a versão completa.</p>
            </div>
            <div class="col-md-3 box">
                <h2>4 <span class="line"></span></h2>
                <h4>Devolução dos valores</h4>
                <p>Se o grupo de 10 amigos não for fechado até a data 10/05/2020 devolvemos o seu
                    dinheiro.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <button (click)="openModalTermos()">
                    <img src="/assets/img/preview-white.svg" alt="" srcset=""> VEJA O TERMO DE USO </button>
            </div>
        </div>
    </div>
</div>