<div class="solucoes-pagina">
    <div class="container">
        <div class="row titulo">
            <img src="/assets/img/bonus.svg" alt="" srcset="">
            <h2>Comprando agora, você <br> garante bônus exclusivos 🎁</h2>
        </div>

        <div class="row">
            <div class="groupItem">
                <div class="box" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <div class="header"><span class="number"><img src="/assets/img/icon-checked-verde.svg" alt=""
                                srcset=""></span>
                        <h3>Melhoria de processos</h3>
                    </div>
                    <div class="body">
                        <p>Tenha acesso a melhores técnicas de <br>
                            gestão com processos resumidos e eficazes</p>
                    </div>
                </div>
                <div class="box" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <div class="header"><span class="number"><img src="/assets/img/icon-checked-verde.svg" alt=""
                                srcset=""></span>
                        <h3>Levantamento do débito com a CEF</h3>
                    </div>
                    <div class="body">
                        <p>Levantamos o débito da sua lotérica <br>
                            sem ter que desligar os TFL's da mesma</p>
                    </div>
                </div>
            </div>

            <div class="groupItem">
                <div class="box" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <div class="header"><span class="number"><img src="/assets/img/icon-checked-verde.svg" alt=""
                                srcset=""></span>
                        <h3>Consultoria com CEO da XLOTO</h3>
                    </div>
                    <div class="body">
                        <p>Ganhe gratuitamente 2 horas de <br>
                            consultoria de processos com CEO XLOTO</p>
                    </div>
                </div>
                <div class="box" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <div class="header"><span class="number"><img src="/assets/img/icon-checked-verde.svg" alt=""
                                srcset=""></span>
                        <h3>Gratuidade de 6 meses</h3>
                    </div>
                    <div class="body">
                        <p>Você participa de um sorteio com os 10 <br>
                            participantes caso tenha fechado o grupo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>