<div class="dificuldades-pagina">
    <div class="container">
        <div class="row titulo">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>O PROBLEMA</h2>
                <h3>Dificuldades de vender bolão?</h3>
                <p>Problemas de comunicação com o cliente</p>
            </div>
        </div>

        <div class="row lista-dificuldades">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 left" >
                <img data-aos="fade-right" data-aos-easing="linear"
                data-aos-duration="1000" src="/assets/img/bg-vendas-dificuldades.svg" alt="Imagem de um rapaz pegando na cabeça">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
                <ul>
                    <li data-aos="fade-left" data-aos-easing="linear"
                    data-aos-duration="100">
                        <img src="/assets/img/icon-vendas-check.svg" alt="Icone de Check">
                        Você possui dificuldade em vender bolões?
                    </li>
                    <li data-aos="fade-left" data-aos-easing="linear"
                    data-aos-duration="150">
                        <img src="/assets/img/icon-vendas-check.svg" alt="Icone de Check">
                        Atendentes não oferecem bolões com entusiasmo?
                    </li>
                    <li data-aos="fade-left" data-aos-easing="linear"
                    data-aos-duration="200">
                        <img src="/assets/img/icon-vendas-check.svg" alt="Icone de Check">
                        Dificuldade em vender Xcap e seguro Amparo?
                    </li>
                    <li data-aos="fade-left" data-aos-easing="linear"
                    data-aos-duration="250">
                        <img src="/assets/img/icon-vendas-check.svg" alt="Icone de Check">
                        Você gostaria de faturar uma renda extra?
                    </li>
                    <li data-aos="fade-left" data-aos-easing="linear"
                    data-aos-duration="300">
                        <img src="/assets/img/icon-vendas-check.svg" alt="Icone de Check">
                        Você possui muitos avisos poluindo a lotérica?
                    </li>
                    <li data-aos="fade-left" data-aos-easing="linear"
                    data-aos-duration="350">
                        <img src="/assets/img/icon-vendas-check.svg" alt="Icone de Check">
                        Você avisa seus cliente sobre assuntos relevantes?
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>