.header {
    background-image: url('/assets/img/bg-header-gestao.svg');
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 115px;
    margin-bottom: 100px;

    @media (max-width: 992px) {
        height: 400px;
        margin-bottom: 0px;
    }
}

.back-button {
    display: flex;
    align-items: center;
    padding-top: 80px;
    font-family: "Circular Std";
    margin-bottom: 40px;

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    img {
        margin-right: 15px;
        width: 40px;
    }
}